Repository Enterprise-CMCS/demos, pull requests merged in 2025-09, with the labels that each got.

#188 DEMOS-555-contacts-assignment-model
  data/docs/DEMOS_Data_Model.mmd
  data/docs/DEMOS_Data_Model.png
Labels: documentation, enhancement, data

#194 task/doc-rename
  .devcontainer/devcontainer.json
  data/docs/DEMOS_Data_Model.mmd
  data/docs/DEMOS_Data_Model.png
Labels: documentation, data, dev-environment

#217 task/fix-up-missing-unique-key
  server/src/model/migrations/20250909152755_prisma_fix_up_missing_unique_key/migration.sql
Labels: bug, data, server

#221 DEMOS-753-add-views-and-basic-roles-to-migrations
  data/utilities/permissions/basic_public_access.sql
  data/utilities/views/vw_group_user.sql
  data/utilities/views/vw_namespace_owners.sql
  data/utilities/views/vw_namespace_priv_grants.sql
  data/utilities/views/vw_relation_owners.sql
  data/utilities/views/vw_relation_priv_grants.sql
  server/src/model/migrations/20250909154217_add_default_groups_and_views/migration.sql
Labels: data

#250 Demos 529 Validate User has a role, also added the name hydration in database from cognito
  client/src/components/auth/AuthLinks.tsx
  client/src/components/header/Header.test.tsx
  client/src/components/header/ProfileBlock.tsx
  client/src/router/DemosRouter.tsx
  client/src/router/cognitoConfig.ts
  client/src/vite-env.d.ts
  deployment/demosctl/commands/buildClient.test.ts
  deployment/demosctl/commands/buildClient.ts
  deployment/lib/cognito.ts
  server/src/auth/auth.util.ts
Labels: bug, server, client

#295 DEMOS-844-phase-specific-documents
  client/src/components/dialog/document/DocumentDialog.tsx
  server/src/model/bundleStatus/bundleStatusResolvers.ts
  server/src/model/bundleStatus/bundleStatusSchema.ts
  server/src/model/cmcsDivision/cmcsDivisionResolvers.ts
  server/src/model/cmcsDivision/cmcsDivisionSchema.ts
  server/src/model/dateType/dateTypeResolvers.ts
  server/src/model/dateType/dateTypeSchema.ts
  server/src/model/demonstration/demonstrationSchema.ts
  server/src/model/document/document.prisma
  server/src/model/document/documentHistory.prisma
  server/src/model/document/documentResolvers.ts
  server/src/model/document/documentSchema.ts
  server/src/model/documentPendingUpload/documentPendingUpload.prisma
  server/src/model/documentPendingUpload/documentPendingUploadHistory.prisma
  server/src/model/documentType/documentType.prisma
  server/src/model/documentType/documentTypeResolvers.ts
  server/src/model/documentType/documentTypeSchema.ts
  server/src/model/event/index.ts
  server/src/model/graphql.ts
  server/src/model/migrations/20250926161846_prisma_add_phase_doc_type_constraints/migration.sql
  server/src/model/migrations/20250926161945_add_phase_doc_type_constraints/migration.sql
  server/src/model/modification/modificationResolvers.ts
  server/src/model/modification/modificationSchema.ts
  server/src/model/phase/phase.prisma
  server/src/model/phase/phaseResolvers.ts
  server/src/model/phase/phaseSchema.ts
  server/src/model/phaseDocumentType/phaseDocumentType.prisma
  server/src/model/phaseStatus/phaseStatusResolvers.ts
  server/src/model/phaseStatus/phaseStatusSchema.ts
  server/src/model/signatureLevel/signatureLevelResolvers.ts
  server/src/model/signatureLevel/signatureLevelSchema.ts
  server/src/resolverFunctions.ts
  server/src/seeder.ts
Labels: enhancement, data, javascript, server
