Repository Enterprise-CMCS/demos, pull requests merged in 2025-07, with the labels that each got.

#62 DEMOS-423-add-lambda-secretsmanager-items
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  .gitignore
  server/.env.example
  server/localstack/localstack.sh
  server/package-lock.json
  server/package.json
  server/src/auth/auth.util.ts
  server/src/model/demonstrationStatus/demonstrationStatusSchema.ts
  server/src/model/state/stateSchema.ts
  server/src/model/user/userSchema.ts
  server/src/server.ts
Labels: enhancement, data

#64 task/add-basic-readme
  README.md
  client/package-lock.json
  server/package-lock.json
Labels: documentation, dev-environment

#78 task/fix-project-officer-addition
  data/utilities/scripts/history_trigger_generator.py
  server/src/model/_rolePermission/rolePermissionHistory.prisma
  server/src/model/_userRole/userRoleHistory.prisma
  server/src/model/_userState/userStateHistory.prisma
  server/src/model/_userStateDemonstration/userStateDemonstration.prisma
  server/src/model/_userStateDemonstration/userStateDemonstrationHistory.prisma
  server/src/model/demonstration/demonstration.prisma
  server/src/model/demonstration/demonstrationHistory.prisma
  server/src/model/demonstration/demonstrationResolvers.ts
  server/src/model/demonstration/demonstrationSchema.ts
  server/src/model/demonstrationStatus/demonstrationStatusHistory.prisma
  server/src/model/migrations/20250623155458_init_baseline/migration.sql
  server/src/model/permission/permissionHistory.prisma
  server/src/model/role/roleHistory.prisma
  server/src/model/schema.prisma
  server/src/model/state/stateHistory.prisma
  server/src/model/user/user.prisma
  server/src/model/user/userHistory.prisma
  server/src/seeder.ts
Labels: bug, data

#82 DEMOS-305-doc-bundle-experiment
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  data/docs/DEMOS_Data_Model.mmd
  data/docs/DEMOS_Data_Model.png
  data/utilities/scripts/history_trigger_generator.py
  server/package.json
  server/src/constants.ts
  server/src/model/bundle/bundle.prisma
  server/src/model/bundle/bundleHistory.prisma
  server/src/model/bundleType/bundleType.prisma
  server/src/model/bundleType/bundleTypeHistory.prisma
  server/src/model/demonstration/demonstration.prisma
  server/src/model/demonstration/demonstrationHistory.prisma
  server/src/model/demonstration/demonstrationResolvers.ts
  server/src/model/demonstrationBundleType/demonstrationBundleType.prisma
  server/src/model/demonstrationBundleType/demonstrationBundleTypeHistory.prisma
  server/src/model/migrations/20250711191506_add_bundle_concept/migration.sql
  server/src/seeder.ts
  server/src/types.ts
Labels: documentation, enhancement, data, javascript, server

#95 DEMOS-454-add-amendment-data-api
  data/docs/DEMOS_Current_Data_Model.mmd
  data/docs/DEMOS_Current_Data_Model.png
  data/docs/DEMOS_Data_Model.mmd
  data/docs/DEMOS_Data_Model.png
  data/utilities/scripts/history_trigger_generator.py
  server/src/model/bundle/bundle.prisma
  server/src/model/bundleType/bundleType.prisma
  server/src/model/demonstration/demonstration.prisma
  server/src/model/demonstration/demonstrationResolvers.ts
  server/src/model/demonstration/demonstrationSchema.ts
  server/src/model/document/documentResolvers.ts
  server/src/model/document/documentSchema.ts
  server/src/model/graphql.ts
  server/src/model/migrations/20250722144817_add_amendment_interface/migration.sql
  server/src/model/migrations/20250722144817_add_amendment_interface/run_tests.py
  server/src/model/modification/modification.prisma
  server/src/model/modification/modificationHistory.prisma
  server/src/model/modification/modificationResolvers.ts
  server/src/model/modification/modificationSchema.ts
  server/src/model/modificationBundleType/modificationBundleType.prisma
  server/src/model/modificationStatus/modificationStatus.prisma
  server/src/model/modificationStatus/modificationStatusHistory.prisma
  server/src/model/modificationStatus/modificationStatusResolvers.ts
  server/src/model/modificationStatus/modificationStatusSchema.ts
  server/src/model/user/user.prisma
  server/src/model/user/userResolvers.ts
  server/src/model/user/userSchema.ts
  server/src/seeder.ts
  server/src/types.ts
Labels: documentation, enhancement, data, javascript, server

#88 Demos-533: custom authorizer
  client/src/router/DemosApolloProvider.test.tsx
  client/src/router/DemosApolloProvider.tsx
  client/src/router/cognitoConfig.ts
  deployment/config.ts
  deployment/lib/apigateway.ts
  deployment/lib/lambda.ts
  deployment/nag-suppressions.ts
  deployment/stacks/api.ts
  deployment/stacks/ui.ts
  lambda_authorizer/index.mjs
  lambda_authorizer/package-lock.json
  lambda_authorizer/package.json
  server/src/server.ts
Labels: enhancement, javascript, infra

#103 task/fix-modification-status-name
  data/docs/DEMOS_Current_Data_Model.mmd
  data/docs/DEMOS_Current_Data_Model.png
  data/docs/DEMOS_Data_Model.mmd
  data/docs/DEMOS_Data_Model.png
  server/src/model/migrations/20250725171550_fix_modification_status_columns/migration.sql
  server/src/model/modificationStatus/modificationStatus.prisma
  server/src/model/modificationStatus/modificationStatusHistory.prisma
  server/src/model/modificationStatus/modificationStatusResolvers.ts
  server/src/model/modificationStatus/modificationStatusSchema.ts
  server/src/seeder.ts
Labels: bug, documentation, data, javascript, server

#106 DEMOS-564: Add synkScan jenkins library function
  pipelines/lib/vars/kubeBlock.groovy
  pipelines/lib/vars/snykScan.groovy
Labels: enhancement, infra

#105 DEMOS-564: add snyk test to jenkins pipelines
  pipelines/Jenkinsfile.cdk
  pipelines/Jenkinsfile.client
  pipelines/Jenkinsfile.server
Labels: enhancement, infra

#109 DEMOS-510-documentation-standards-guides
  README.md
  server/README.md
Labels: documentation, data, server

#114 DEMOS-577-gql-list-return-types
  server/src/model/demonstration/demonstrationSchema.ts
  server/src/model/demonstrationStatus/demonstrationStatusSchema.ts
  server/src/model/document/documentSchema.ts
  server/src/model/documentType/documentTypeSchema.ts
  server/src/model/event/eventSchema.ts
  server/src/model/modification/modificationSchema.ts
  server/src/model/modificationStatus/modificationStatusSchema.ts
  server/src/model/permission/permissionSchema.ts
  server/src/model/role/roleSchema.ts
  server/src/model/state/stateSchema.ts
  server/src/model/user/userSchema.ts
Labels: javascript, server
